{% extends "global/base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
        <div class="inner-block">
            <h1 class="form-title heading-large">Remove joint proprietor restriction</h1>
            <form class="form" action="/removerestriction" method="POST">
                <label class="form-label">Enter your reference number</label>
                <input type="text" class="form-control"name="referencenumber" id="referencenumber"><br><br>
                <button class="button" type="submit">Remove</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
