{% extends "global/base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">
        <div class="inner-block">
            <h1 class="form-title heading-large">Reference Valid</h1>
            <form class="form" action="/removerestriction" method="POST">
                <p>Do you wish to remove restriction {{referencenumber}} from titlenumber {{ titlenumber }}</p>
                <input type='text'style="display:none" name="titlenumber" value={{ titlenumber }}>
                 <input type='text'style="display:none" name="referencenumber" value={{ referencenumber }}>
                <button class="button" type="submit">Remove restriction</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
